.map-container {
  width: 100vw;
  height: 80vh;
  margin: 20px auto; /* Center the map */
  border-radius: 10px; /* Optional rounded corners */
  overflow: hidden; /* Clip the corners */
}

iframe {
  width: 100%; /* Full width */
  height: 450px; /* Set height */
  border: 0; /* Remove border */
}
